/mosquitto
/mongo/data
/*.sh
/*.old
/*.yml
/templates
/scripts
/scripts/addestramentoPersona/img
/scripts/addestramentoPersona/test
/scripts/addestramentoPersona/train
/serverello/SERVER/update.py
/serverello/SERVER/services/trainingold
/serverello/SERVER/services/people/people.txt
