{% extends 'base.html' %}

{% block js %}
<script src="{{ url_for('static', filename='js/dashboard.js') }} " type="module"></script>
{% endblock %}

{% block content %}
<div class="text-xl text-headline font-bold flex items-center justify-start gap-3 m-3">
    <div class="bg-main px-3 py-2 rounded-md">
        <h1 class="flex items-center">{{person}} is driving
            <svg class="inline ml-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m12 15 3.5-3.5"></path>
                <path d="M20.3 18c.4-1 .7-2.2.7-3.4C21 9.8 17 6 12 6s-9 3.8-9 8.6c0 1.2.3 2.4.7 3.4"></path>
            </svg>
        </h1>
    </div>
    <div id="weather-widget" class="flex items-center justify-between px-3 py-2 bg-main text-headline rounded-md"></div>
    <div id="time-date-widget" class="px-3 py-2 min-w- bg-main text-headline rounded-md"><span></span></div>
</div>

<div class="m-3 h-full flex gap-3 justify-around ">
    <div  class="text-lg text-headline font-bold bg-main px-3 py-2 rounded-md max-h-[450px] border-b-2 border-secondary w-2/5">
        <h1 class="flex items-center pb-1 border-b-2 border-secondary"> Take a look at this places 
            <svg class="inline ml-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path><circle cx="12" cy="10" r="3"></circle></svg>
        </h1>
        <div id="placeList" class="overflow-y-scroll max-h-[400px] flex flex-col gap-2">
        </div>
    </div>
    <div class="text-lg text-headline font-bold bg-main px-3 py-2 rounded-md max-h-[450px] border-b-2 border-secondary w-2/5">
        <h1 class="flex items-center pb-1 border-b-2 border-secondary"> Try to listen these songs 
            <svg class="inline ml-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15V6"></path><path d="M18.5 18a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"></path><path d="M12 12H3"></path><path d="M16 6H3"></path><path d="M12 18H3"></path></svg>
        </h1>
        <div id="musicList" class="overflow-y-scroll max-h-[400px] flex flex-col gap-2">
        </div>
    </div>
</div>

<div class="mt-auto m-3 flex gap-3">
    <div class="bg-main px-3 py-2 rounded-md">
        <h1 class="flex items-center text-lg font-bold text-highlight">
            <svg class="inline mr-2 text-tertiary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15.5 3H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2V8.5L15.5 3Z"></path><path d="M15 3v6h6"></path><path d="M10 16s.8 1 2 1c1.3 0 2-1 2-1"></path><path d="M8 13h0"></path><path d="M16 13h0"></path></svg>
            State of mind : <span id="emotion" class="ml-2"></span>
        </h1>
    </div>
    <button id="info-btn"
        class="ml-auto w-min bg-highlight hover:bg-blue-400 text-main fill-main font-bold p-2 border-b-4 border-headline hover:border-blue-500 rounded-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
        </svg>
    </button>
</div>


{% include 'overlay-info.html' %}

{% endblock %}