<div class="screen">
    <div class="keyboard">
        <div class="display">
            <div class="col-span-2 text-center text-xl">
                >
            </div>
        </div>
        <button>
            <span>7</span>
        </button>
        <button>
            <span>8</span>
        </button>
        <button>
            <span>9</span>
        </button>
        <button>
            <span>4</span>
        </button>
        <button>
            <span>5</span>
        </button>
        <button>
            <span>6</span>
        </button>
        <button>
            <span>1</span>
        </button>
        <button>
            <span>2</span>
        </button>
        <button>
            <span>3</span>
        </button>
        <button>
          <span class="text-xl">Delete</span>
        </button>
        <button>
            <span>0</span>
        </button>
        <button>
          <span class="text-xl">Done</span>
        </button>
    </div>
</div>